<form action="/guitars" method="post">
  <input type="text" name="maker" placeholder="Maker of Guitar">
  <input type="text" name="type" placeholder="Type of Guitar">
  <input type="text" name="color" placeholder="Color of Guitar">
  <input type="submit" value="Create Guitar">
</form>`